[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
name = "piwheels"
verify_ssl = true

[packages]

[dev-packages]
sphinx = "*"
nose = "*"
coverage = "*"
pycodestyle = "*"
pydocstyle = "*"
twine = "*"
tox = "*"

[requires]
python_version = "3.6"
